*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.navbar {
  background-color: rgba(243, 243, 243, .9);
}

.nav {
  max-width: 1024px;
  width: 100% - 2rem;
  margin: 0 auto;
  height: 3.5rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
}

.nav__link {
  font-weight: 400;
}